<app-header [showMenu]="true" title="Social Posts"></app-header>
<ion-content>
  <div>
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
      <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    <ion-list *ngFor="let p of posts" > 
      <ion-item *ngIf="p.privacy === 'public'" lines="none">
        <div class="post-container">
          <div class="post-header">
            <div class="avatar-name">
              <ion-avatar slot="start">
                <ion-img [src]="p.userAvatar"></ion-img>
              </ion-avatar>
              <div class="infor">
                <div>
                  <ion-label class="user-name">{{ p.username }}</ion-label>
                </div>
                <div class="timestamp-privacy">
                  <label class="timestamp">{{ p.timestamp }}</label>
                  <ion-icon *ngIf="p.privacy === 'public'" name="globe-outline" class="privacy-icon-public"></ion-icon>
                  <ion-icon *ngIf="p.privacy === 'private'" name="lock-closed-outline" class="privacy-icon-private"></ion-icon>
                </div>
              </div>
            </div>
            
          </div>
          <div class="post-content">
            <div class="post-description">{{ p.description }}</div>
            <div class="post-image">
              <ion-img [src]="p.image"></ion-img>
            </div>
          </div>
          <div class="post-actions">
            <div class="like-container">
              <ion-icon class="like-icon" *ngIf="userLikedPost(p, user().id)" (click)="likePost(p, user().id, p.userId)" name="heart"></ion-icon>
              <ion-icon class="like-icon" *ngIf="!userLikedPost(p, user().id)" (click)="likePost(p, user().id, p.userId)" name="heart-outline"></ion-icon>
              <div class="like-count">{{ p.like }}</div>
              <div style="flex-grow: 1;"></div> 
              <ion-button (click)="toggleComments(p)">
                {{ p.showComments ? 'Hide Comments' : 'Show Comments' }}
              </ion-button>
            </div>
            
          </div>
          <div *ngIf="p.showComments" class="post-comments" [ngClass]="{'scrollable': p.comments?.length > 5}">
            <ion-list>
              <ion-item *ngFor="let comment of p.comments">
                <ion-avatar slot="start">
                  <ion-img [src]="comment.userAvatar"></ion-img>
                </ion-avatar>
                <ion-label>
                  <h2>{{ comment.username }}</h2>
                  <p>{{ comment.content }}</p>
                  <p class="comment-timestamp">{{ comment.timestamp }}</p>
                </ion-label>
              </ion-item>
            </ion-list>
          </div>
          
          <ion-item *ngIf="p.showComments" class="add-comment">
            <ion-input (keyup.enter)="addComment(p, newComment, p.userId)" type="text" placeholder="Add a comment" [(ngModel)]="newComment"></ion-input>
            <ion-button (click)="addComment(p, newComment, p.userId)">Post</ion-button>
          </ion-item>
        </div>
        
      </ion-item>
    </ion-list>

  </div>
</ion-content>
