<app-header title="Sign up" backButton = "/auth"></app-header>
<ion-content>
  <div class="d-flex-center">
    <form [formGroup]="form" class="auth-form" (ngSubmit) = "submit()" (keypress.enter) = "submit()">
      <div class="validators" *ngIf = "form.controls.name.errors && form.controls.name.touched">
        <div *ngIf = "form.controls.name.errors?.['required']">Please enter your name</div>
        <div *ngIf = "form.controls.name.errors?.['minlength']">Invalid name length (>6)</div>
      </div>
      <app-custom-input icon = "person-outline" [control] = "form.controls.name" type = "text" label = "Name"></app-custom-input>
      <div class="validators" *ngIf = "form.controls.email.errors && form.controls.email.touched">
        <div *ngIf = "form.controls.email.errors?.['required']">Please enter your email</div>
        <div *ngIf = "form.controls.email.errors?.['email']">Invalid email format</div>
      </div>
      <app-custom-input autocomplete = "email" icon = "mail-outline" [control] = "form.controls.email" type = "email" label = "Email"></app-custom-input>
      <div class="validators" *ngIf = "form.controls.password.errors && form.controls.password.touched">
        <div *ngIf = "form.controls.password.errors?.['required']">Please enter your password</div>
      </div>
      <app-custom-input icon = "lock-closed-outline" [control] = "form.controls.password" type = "password" label = "Password"></app-custom-input>
      <div class="validators" *ngIf = "form.controls.confirmPassword.errors && form.controls.confirmPassword.touched">
        <div *ngIf = "form.controls.confirmPassword.errors?.['required']">Please enter your confirm password</div>
      </div>
      <app-custom-input icon = "lock-closed-outline" [control] = "form.controls.confirmPassword" type = "password" label = "Confirm Password"></app-custom-input>

      
      <ion-button type = "submit" [disabled] = "form.invalid" class="submit" mode = "ios" expand="block" shape="round">
        Sign up
        <ion-icon slot="end" name="person-add-outline"></ion-icon>
      </ion-button>
    </form>
  </div>

</ion-content>